<div class="wrapper">
    <!-- Sidebar  -->

    <nav id="sidebar">
        <div class="row justify-content-center">
            <a href="{{ path('home') }}"><img  src="https://i.pinimg.com/originals/4d/ea/67/4dea67354837b4eba7ac4eb075a6c04f.png" width="100px"></a>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="{{ path('admin') }}">ACCUEIL Admin</a>
            </li>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Edit SUR MESURE</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="{{ path('papierpeint') }}">Edit Papier peint</a>
                    </li>
                    <li>
                        <a href="{{ path('murtendu') }}">Edit Mur tendu</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Edit COLLECTION</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="{{ path('collectionbase') }}">Edit COLLECTION Base</a>
                    </li>
                    <li>
                        <a href="{{ path('collectionpersonnaliser') }}">Edit COLLECTION Personnaliser</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#addSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Add COLLECTION</a>
                <ul class="collapse list-unstyled" id="addSubmenu">
                    <li>
                        <a href="{{ path('addCollectionBase') }}">Add COLLECTION Base</a>
                    </li>
                    <li>
                        <a href="{{ path('addCollectionpersonnaliser') }}">Add COLLECTION Personnaliser</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#addSlider" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Edit Slider</a>
                <ul class="collapse list-unstyled" id="addSlider">
                    <li>
                        <a href="{{ path('adminSlider',{id: 0}) }}">Slider Image</a>
                    </li>
                    <li>
                        <a href="{{ path('addCollectionpersonnaliser') }}">Add COLLECTION Personnaliser</a>
                    </li>
                </ul>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            {% if app.user %}
            <li>
                <a href="/logout" class="article">Logout</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <div id="content">
        <div class="row justify-content-between pl-4 pr-4 pb-2">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
            </button>
            {% if app.user %}
                <p>Hi {{ app.user.username }}</p>
            {% endif %}

        </div>