<div class="wrapper">
    <!-- Sidebar  -->

    <nav id="sidebar">
        <div class="row justify-content-center">
            <a href="{{ path('home') }}"><img  src="https://i.pinimg.com/originals/4d/ea/67/4dea67354837b4eba7ac4eb075a6c04f.png" width="100px"></a>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="{{ path('admin') }}">ACCUEIL Admin</a>
            </li>
            <li class="active">
                    <li>
                        <a href="{{ path('allUsers',{id: 0}) }}">All Users</a>
                    </li>
            </li>
      <li>
          <a href="{{ path('collBaseAdmin',{id: 0}) }}">COLLECTION Base</a>
      </li>
            <li>
                <a href="{{ path('collBaseCategorys',{id: 0}) }}">Categorys</a>
            </li>
            <li>
                <a href="{{ path('typePapier',{id: 0}) }}">Type</a>
            </li>
            <li>
                <a href="{{ path('adminSlider',{id: 0}) }}">Slider Image</a>
            </li>

        </ul>

        <ul class="list-unstyled CTAs">
            {% if app.user %}
            <li>
                <a href="/logout" class="article">Logout</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    <div id="content">
        <div class="row justify-content-between pl-4 pr-4 pb-2">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
            </button>
            {% if app.user %}
                <p>Hi {{ app.user.username }}</p>
            {% endif %}

        </div>