<div class="wrapper">
    <!-- Sidebar  -->

    <nav id="sidebar">
        <div class="row justify-content-center">
            <a href="{{ path('home') }}"><img  src="https://i.pinimg.com/originals/4d/ea/67/4dea67354837b4eba7ac4eb075a6c04f.png" width="100px"></a>
        </div>

        <ul class="list-unstyled components">

           {# <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">SUR MESURE</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li>
                        <a href="{{ path('papierpeint') }}">Papier peint</a>
                    </li>
                </ul>
            </li>#}
            <li>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Papier peint</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">

                    <li class="active">
                        <a href="#category" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Papier peint - Category</a>
                        <ul class="collapse list-unstyled" id="category">
                            {% for c in categorys %}
                                {% dump(c.getColl)  %}
                                {% if c.getColl is not null %}
                                    <li>
                                        <a href="{{ path('category',{id: c.id}) }}">{{ c.name }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <a href="{{ path('collectionbase') }}">COLLECTION Base</a>
                    </li>
                    <li>
                        <a href="{{ path('collectionpersonnaliser') }}">COLLECTION Personnaliser</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="{{ path('about') }}">About</a>
            </li>
            <li>
                <a href="{{ path('portfolio') }}">Portfolio</a>
            </li>
            <li>
                <a href="{{ path('contact') }}">Contact</a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            {% if is_granted('ROLE_ADMIN') %}
                <li>
                    <a href="/admin" class="btn btn-success text-dark">Admin Panel</a>
                </li>
            {% endif %}
            {% if app.user %}
            <li>
                <a href="/logout" class="download">Logout</a>
            </li>
                 {% else %}
             <li>
                 <a href="/login" class="download">Login</a>
             </li>
             <li>
                 <a href="{{ path('register') }}" class="download">Register</a>
             </li>
            {% endif %}
        </ul>
    </nav>
    <div id="content">
        <div class="row justify-content-between pl-4 pr-4 pb-2">
            <button type="button" id="sidebarCollapse" class="btn btn-info">
                <i class="fas fa-align-left"></i>
            </button>
            <div class="row mr-2">
                <a href="#insta" target="_blank"><i class="text-danger mx-2 fab fa-instagram fa-2x"></i></a>
                <a href="#facebook" target="_blank"><i class="text-info mx-2 fab fa-facebook-square fa-2x"></i></a>
                <a href="#yt" target="_blank"><i class="text-danger mx-2 fab fa-youtube fa-2x"></i></a>
<p class=" m-2 p-2 rounded text-info">FREE Shipping pour command +300€ </p>
                {% if app.user %}
                    <p class=" rounded m-2 p-2" >Hi {{ app.user.username|capitalize }}</p>

                    <a class=" rounded mx-2" href="{{ path('basket') }}" >Cart<i class="text-info fas fa-shopping-cart fa-2x"></i></a>
                    <a class=" rounded mx-2" href="{{ path('myhistory') }}" >My History<i class="text-info fas fa-history fa-2x"></i></a>
                {% endif %}
            </div>
        </div>