{% extends 'public/comp/base.html.twig' %}
{% block body %}
    <div class="container-fluid">
    <div class="mt-3 bg-light border rounded p-4">
        <h3 class="ml-3 mb-3"> Mon pannier</h3>
        <div class="container">
            <table class="table text-dark">
                <thead>
                <tr>
                    <th scope="col"> Products </th>
                    <th scope="col">Width</th>
                    <th scope="col">Hight</th>
                    <th scope="col">Text</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Recouvrement des laizes:">RL:</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Quantity:">Q:</th>
                    <th scope="col"> Prix </th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Edit:">E</th>
                    <th scope="col" data-toggle="tooltip" data-placement="top" title="Supprimer">S</th>
                </tr>
                </thead>
                <tbody>

                    {% for order in userBasket.Order1 %}
                        <tr>
                            <td>{% if order.coll is not null %} <img src="{{ asset('uploads/images/'~order.coll.image[0].url) }}" width="100px">  {{ order.coll.name }}
                                {% else %}
                                    Personailze: <a class="btn-sm btn-info" target="_blank" href="{{ asset('uploads/pdf/' ~ order.fileUrl) }}">View</a>
                                {% endif %}
                                </td>
                            <td>{{ order.width }} cm</td>
                            <td>{{ order.height }} cm</td>
                            <td>{{ order.text }}</td>
                            <td>{% if order.overlapping == 0 %} Aucun {% else %} 4cm {% endif %}</td>
                            <td>{{ order.quantity }}</td>
                            <td> {{ order.totalPrice/100|number_format(2) }} €</td>
                            <td> {% if order.getBasket is not null %}<a href="{{ path('editorder',{id: order.id}) }}"><i class="text-info fas fa-edit "></i></a> {% endif %}</td>
                            <td><a onclick="return confirm('Are you sure you wanna delete this?');"href="{{ path('deleteOrder',{id: order.id}) }}"><i class="text-danger fas fa-trash-alt"></i></a></td>
                        </tr>
                    {% endfor %}


                    <tr>
                        <td> Shipping</td>
                        <td> </td><td> </td><td> </td><td> </td><td> </td>
                        <td>{% if userBasket.ship is not null %} {{ userBasket.ship.price/100|number_format(2) }} €{% endif %}</td> <td> </td><td> </td>
                    </tr>
                    <tr>
                        <td> Prix Total</td>
                        <td> </td><td> </td><td> </td><td> </td><td> </td>
                        <td> {{ userBasket.total/100|number_format(2) }} €</td> <td> </td><td> </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>

    {#id fullname country street postcode city tel note#}

    {% if address == false  %}
    <a href="{{ path('updateinfo') }}" class="my-2 btn btn-success">Add Address</a>
        {% else %}
            <div class=" my-4 border p-4">
                <div class="row">
                    <div class="col-md-4">
                        <address>
                            <strong>{{ thisUserAddress.fullname }}</strong><br>
                            {{ thisUserAddress.street }}<br>
                            {{ thisUserAddress.country }},    {{ thisUserAddress.city }} {{ thisUserAddress.postcode }}<br>
                            <abbr title="Phone">Tel: </abbr>{{ thisUserAddress.tel }}
                        </address>


                    </div>
                    <div class="col-md-4">
                        <address>
                            <strong>Email:</strong>
                            <a href="mailto:#">{{ app.user.email }}</a><br>
                            <strong>Notes:</strong>
                            {{ thisUserAddress.note }}
                        </address>
                    </div>

                </div>
                <a href="{{ path('updateinfo') }}" class="btn-sm btn-success">Edit Address</a>
            </div>
{% if userBasket.total != 0 %}

    <p>{% if userBasket.ship is null %}No shipping Selected{% else %}Shipping date: {{ userBasket.ship.startDate|date('d M Y') }}{% endif %}</p>
    <p  class="text-dark my-2">Livraison indicative:
        {% for d in date %}
            {% set difference = date(d).diff(date("now")) %}
            {% set leftDays = difference.days %}
            {% if leftDays <= 0 %}
                <span class="disabled btn btn-info ">{{ d|date('d M Y') }}</span>
            {% else %}
                <a href="{{path('updateShipping',{id: loop.index-1 })}}">  <span class="btn{% if userBasket.ship.startDate == d %}
                     btn-dark{% else %} btn-info  {% endif %}">{{ d|date('d M Y') }} <span class="btn-sm btn-warning ">{% if loop.index-1 == 1 %}5{% elseif loop.index-1 == 2%}4{% elseif loop.index-1 == 3%}3{% endif %} € </span></span> </a>
            {% endif %}

        {% endfor %}

    </p>
    {% endif %}
    {% endif %}

        {% if  userBasket.total > 0 and address != false and userBasket.ship is not null %}
    <script src="https://js.stripe.com/v3/"></script>
    <div style="background-color: #5cb85c;" class="text-dark border rounded p-4">

        <form action="{{ path('paymentOk', {id:userBasket.id }) }}"  method="post" id="payment-form">

            <div class="form-row">
                <label class="row col-md-12" for="card-element" >
                    Credit or debit card
                </label>
                <div id="card-element" class="col-md-12">
                    <!-- A Stripe Element will be inserted here. -->
                </div>

                <!-- Used to display form errors. -->
                <div id="card-errors" role="alert"></div>
            </div>
            <div class="mt-3 d-flex justify-content-center">
                <input type="submit" class="btn btn-light" value="Passer la commande"  data-secret="<?= $intent['client_secret'] ?>">
            </div>
        </form>
    </div>








    <script>
        // Create a Stripe client.
        var stripe = Stripe('pk_test_6FLe9cmG06GJJ0QXYR8IFlYj00wvU475eE');

        // Create an instance of Elements.
        var elements = stripe.elements();

        // Custom styling can be passed to options when creating an Element.
        // (Note that this demo uses a wider set of styles than the guide below.)
        var style = {
            base: {
                color: '#32325d',
                fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                    color: '#aab7c4'
                }
            },
            invalid: {
                color: '#fa755a',
                iconColor: '#fa755a'
            }
        };

        // Create an instance of the card Element.
        var card = elements.create('card', {style: style});

        // Add an instance of the card Element into the `card-element` <div>.
        card.mount('#card-element');

        // Handle real-time validation errors from the card Element.
        card.on('change', function(event) {
            var displayError = document.getElementById('card-errors');
            if (event.error) {
                displayError.textContent = event.error.message;
            } else {
                displayError.textContent = '';
            }
        });

        // Handle form submission.
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {
            event.preventDefault();

            stripe.createToken(card).then(function(result) {
                if (result.error) {
                    // Inform the user if there was an error.
                    var errorElement = document.getElementById('card-errors');
                    errorElement.textContent = result.error.message;
                } else {
                    // Send the token to your server.
                    stripeTokenHandler(result.token);
                }
            });
        });

        // Submit the form with the token ID.
        function stripeTokenHandler(token) {
            // Insert the token ID into the form so it gets submitted to the server
            var form = document.getElementById('payment-form');
            var hiddenInput = document.createElement('input');
            hiddenInput.setAttribute('type', 'hidden');
            hiddenInput.setAttribute('name', 'stripeToken');
            hiddenInput.setAttribute('value', token.id);
            form.appendChild(hiddenInput);

            // Submit the form
            form.submit();
        }

        var response = fetch('/secret').then(function(response) {
            return response.json();
        }).then(function(responseJson) {
            var clientSecret = responseJson.client_secret;
            // Call stripe.confirmCardPayment() with the client secret.
        });


    </script>


           {# <a class="btn btn-primary" href="{{ path('goToPayment', {id:basket.id}) }}"> Aller au payement</a>#}

        {% endif %}


    </div>
{% endblock %}