{% extends 'public/comp/base.html.twig' %}
{% block body %}
    <div class="mt-3 bg-dark">
        <h3 class="ml-3"> Mon pannier</h3>
        <hr class="mx-3">
        <div class="container">
            <table class="table text-white">
                <thead>
                <tr>
                    <th scope="col"> Products </th>
                    <th scope="col">Width</th>
                    <th scope="col">Hight</th>
                    <th scope="col">Recouvrement des laizes:</th>
                    <th scope="col"> Prix </th>
                    <th scope="col"> Edit </th>
                    <th scope="col"> Suprime </th>
                </tr>
                </thead>
                <tbody>
                {% for basket in userBasket %}
                    {% for order in basket.Order1 %}
                        <tr>
                            <td> {{ order.coll.name }} <img src="{{ order.coll.image[0].url }}" width="100px"> </td>
                            <td>{{ order.width }} cm</td>
                            <td>{{ order.height }} cm</td>
                            <td>{% if order.overlapping == 0 %} Aucun {% else %} 4cm {% endif %}</td>
                            <td> {{ order.totalPrice/100|number_format(2) }} €</td>
                            <td> {% if order.getBasket is not null %}<a href="{{ path('editorder',{id: order.id}) }}"><i class="text-info fas fa-edit fa-2x"></i></a> {% endif %}</td>
                            <td><a onclick="return confirm('Are you sure you wanna delete this?');"href="{{ path('deleteOrder',{id: order.id}) }}"><i class="text-danger fas fa-trash-alt"></i></a></td>
                        </tr>
                    {% endfor %}
                {% endfor %}
                {% for basket in userBasket %}
                    <tr>
                        <td> Prix Total</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> {{ basket.total/100|number_format(2) }} €</td> <td> </td><td> </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% for basket in userBasket %}
        {% if  basket.total > 0   %}

            <a class="btn btn-primary" href="{{ path('goToPayment', {id:basket.id}) }}"> Aller au payement</a>
        {% endif %}
    {% endfor %}


{% endblock %}