{% extends 'public/comp/base.html.twig' %}
{% block body %}
   <div>
       <div id="myModal" class="modal">
           <span class="close">&times;</span>
           <img class="modal-content" id="img01">
           <div id="caption"></div>
       </div>
       <h1>Collection {{ coll.name }}</h1>
       <div class="row justify-content-around">
           <div class="col-md-12 p-4">
               <div class="card p-4" >
                   <div class="row">
                       {% for img in coll.image  %}
                           {% if loop.first %}
                               <img class="myImg" src="{{ img.url }}" alt="{{ coll.name }}" style="width:100%;max-width:300px">
                           {% else %}
                               <img class="myImg" src="{{ img.url }}" alt="{{ coll.name }}" style="width:30%;margin: 4px; border-radius: 5%">
                           {% endif %}

                       {% endfor %}
                   </div>
                   <div class="card-body">
                       <h5 class="card-title">{{ coll.name }}</h5>
                       <p class="card-text">{{ coll.description }}</p>
                   </div>
               </div>
           </div>
       </div> {#one part#}
   </div>
  <div class="row justify-content-center">

     <div class="col-md-6">
         {{ form_start(orderForm) }}
         <label>Type: <ul hidden>{% for t in allType %}
            <span id="typeID{{ t.id }}">{{ t.price }}</span>
             {% endfor %}</ul></label>
         {{ form_widget(orderForm.typee) }}
         <label>Width:</label>
         {{ form_widget(orderForm.width) }}
         <label>Hight:</label>
         {{ form_widget(orderForm.height) }}
         <label>Recouvrement des laizes:</label>
         {{ form_widget(orderForm.overlapping) }}
         <label>Quantity:</label>
         {{ form_widget(orderForm.quantity) }}
         <div hidden> {{ form_widget(orderForm.file_url) }}
             {{ form_widget(orderForm.text) }}</div>
         <div class="row justify-content-between p-4">
            <div class="text-dark" style="font-size: x-large">
             Total: <span id="totalPrice">{{ coll.price }}</span> €
            </div>
            <div>
            {{ form_widget(orderForm.order) }}
            </div>
         </div>
         {{ form_end(orderForm) }}
     </div>
  </div>

{% endblock %}