{% extends'public/comp/base.html.twig' %}
{% block body %}
    <h1>My History:</h1>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Design</th>
            <th scope="col">Width</th>
            <th scope="col">Height</th>
            <th scope="col">Text</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="Quantity:">Q:</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="Recouvrement des laizes:">RL:</th>
            <th scope="col">Type:</th>
            <th scope="col">Price:</th>
            <th scope="col">Status</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="Edit:">E</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="Supprimer">S</th>
            <th scope="col" data-toggle="tooltip" data-placement="top" title="Created / Modified">C/M:</th>
            <th scope="col">Facture</th>
        </tr>
        </thead>
        <tbody>
        {% for o in allOrder %}
            <tr>




            <th scope="row">{{ o.id }}</th>
        <td>{% if o.coll is not null %}
            <a href="{{ path('collection',{id: o.coll.id}) }}"><img src="{{ o.coll.image[0].url }}" width="60px"></a>
                {% else %}
                    Personailze: <a class="btn-sm btn-info" target="_blank" href="{{ asset('uploads/pdf/' ~ o.fileUrl )}}">View</a>

        {% endif %}</td>
                <td> {{ o.width }} cm</td>
        <td>{{ o.height }} cm</td>
            <td>{{ o.text }}</td>
           <td> {{ o.quantity }}</td>


                <td>{% if o.overlapping == 0 %} Aucun {% else %} 4cm {% endif %}</td>

            <td>{{ o.typee.name }}</td>
                <td>{{ o.totalPrice/100|number_format(2) }} € </td>
                <td> {% if o.getBasket is not null %}<div class="text-center alert alert-warning" >UnPaid <a class="btn-sm btn-success" href="{{ path('basket') }}">Pay Now</a></div>  {% else %} <div class="text-center alert alert-success" role="alert">Paid</div>   {{ o.getBasket }}{% endif %}</td>

                <td> {% if o.getBasket is not null %}<a href="{{ path('editorder',{id: o.id}) }}"><i class="text-info fas fa-pencil-alt"></i></a> {% endif %}</td>
                <td>{% if o.getBasket is not null %}<a onclick="return confirm('Are you sure you wanna delete this?');"href="{{ path('deleteOrder',{id: o.id}) }}"><i class="text-danger fas fa-trash-alt"></i></a>{% endif %}
                    </td>
                <td class="text-center">{{ o.createdAt|date("m/d/Y", "Europe/Paris") }} <br> {% if o.LastModified is not null %}{{ o.LastModified|date("m/d/Y", "Europe/Paris") }}{% else %} - {% endif %}</td>
                <td class="text-center">{% if o.getBasket is null %}{% for f in o.getFactures %}
                     <a href="{{ path('facture',{id: f.id}) }}" class="btn-sm btn-info">Download</a>
                {% endfor %}{% else%} - {% endif %}</td>


            </tr>
        {% endfor %}

        </tbody>
    </table>
{% endblock %}